*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
form{
    width:50%;
    margin:50px auto;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px;
}
.fields
{
    display: flex;
    flex-direction: column;
}
.fields span
{
    font-size:14px;
    font-weight: bold;
    color:#222831;
}
.fields input 
{
    border:1px solid;
    border-radius:5px;
    padding-left:5px;
    height:30px;
    margin-top:5px;
    margin-bottom:5px;
    color:black;
    font-size:15px;
}
.fields input:focus
{
    border:0;
    border:1px solid skyblue;
}
form hr 
{
    margin-top:10px;
    margin-bottom:10px;
}
.uploadsField input 
{
    width:200px;
    margin-left:30px;
}
.uploadsField 
{
    margin-bottom: 10px;
}
.uploadsField span 
{
    font-weight: bold;
}

body
{
    background:
    linear-gradient(-20deg,#214151 50%, #1a508b 50%);
}
form {
    background-color:#f6f6f6;
    border-radius:10px;
    box-shadow: #ccf2f4 -5px -5px 10px;
}

input:focus , textarea:focus
{
    background-color: #e7e7de;
}

form .btn
{
    width:100px;
    height:35px;
    border:1px solid rgb(38, 113, 226);
    font-weight: bold;
    transition:all 0.4s ease;
    border-radius:4px;
}
form .btn:hover
{
    color:white;
    background-color:rgb(38, 113, 226);
}
.btn-box
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gender p 
{
    font-weight: bold;
}
.gender-fields
{
    margin-top:5px;
}
.category
{
    margin-top:10px;
}
.category .year 
{
    margin-top:5px;
}
.eventsSpecified
{
    margin-top:10px;
}
.category p
{
    font-weight: bold;
}

.eventsSpecified p
{
    font-weight: bold;
}